{% extends 'base.html' %}

{% block content %}

{% if user.groups.first.name == "moderator" %}
<a href="{% url 'game-create' %}"><button>Add a new game</button> </a>
{% endif %}
<form
    class="form-inline my-2 my-lg-0"
    action="{% url 'game_search' %}"
    method="get">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search game"
      aria-label="Search"
      name="search_text"
    />
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
            Search
        </button>
</form>
<p></p>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">back</a>
        {% endif %}
        <span class="current" style="color: white">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    {% for game in game_list %}
        <div style="text-align: center; width: 200px; background-color: #005a75; padding: 10px; border-radius: 8px;">
            <a href="{% url 'game-one' game.id %}">
                <img src="{{ game.game_picture.url }}" alt="{{ game.name }}" style="width: 180px; height: 180px; object-fit: cover; border-radius: 5px;">
            </a>
            <p><strong>{{ game.name }}</strong></p>

            {% if user.groups.first.name == "moderator" %}
                <a href="{% url 'game-update' game.id %}"><button>Update</button></a>
                <a href="{% url 'game-delete' game.id %}"><button>Delete</button></a>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}