{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row w-100 justify-content-center">
        <h3>Latest Tournaments</h3>
    </div>
    <div class="row">
    <div class="col-md-4">
        <div class="card p-3 shadow" style="background-color: #005a75; color: white; border-radius: 10px;">
            <h4 class="text-center">Upcoming Tournaments</h4>
            <ul class="list-unstyled">
                {% for tournament in upcoming_tournaments %}
                    <li>
                        <a href="{% url 'tournament-detail' tournament.id %}" style="color: #faeaa5;">
                            {{ tournament }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow" style="background-color: #005a75; color: white; border-radius: 10px;">
            <h4 class="text-center">Ongoing Tournaments</h4>
            <ul class="list-unstyled">
                {% for tournament in ongoing_tournaments %}
                    <li>
                        <a href="{% url 'tournament-detail' tournament.id %}" style="color: #faeaa5;">
                            {{ tournament }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3 shadow" style="background-color: #005a75; color: white; border-radius: 10px;">
            <h4 class="text-center">Completed Tournaments</h4>
            <ul class="list-unstyled">
                {% for tournament in completed_tournaments %}
                    <li>
                        <a href="{% url 'tournament-detail' tournament.id %}" style="color: #faeaa5;">
                            {{ tournament }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
    <p></p>

    {% if user.is_authenticated %}
        {% if favourite_games %}
        <div class="row">
            <div class="col">
                <h4>Recommended tournaments based on the games you like</h4>
            </div>
        </div>
        <div class="row">
            {% for game in favourite_games %}
            <div class="col"
             style="display: flex; flex-direction: column; align-items: center; text-align: center;
                    border: 2px solid #ddd; padding: 15px; border-radius: 10px; box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
                    background-color: #005a75; margin: 10px; max-width: 220px;">
                <p>{{ game.game }}</p>
                <p>
                <img src="{{ game.game.game_picture.url }}" alt="game_pic" style="width: 180px; height: 180px; object-fit: cover; border-radius: 5px;" class="rounded">
                </p>
                {% if game.game.tournament_set.first %}
                    {% for tournament in game.game.tournament_set.all|dictsortreversed:"id"|slice:":4" %}
                        <a href="{% url 'tournament-detail' tournament.id %}">
                            <p style="color: #faeaa5">{{ tournament }}</p>
                        </a>
                    {% endfor %}
                {% else %}
                    <p>there are currently no tournaments</p>
                <p><a href="{% url 'tournament-create' %}" style="color: #92d6f7">Create tournament</a></p>
                {% endif %}

            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="row">
            <div class="col">
                <h4>Save games as favourites to see latest tournaments of the games you love!</h4>
            </div>
        </div>
        {% endif %}

    {% endif %}
    <p></p>
    <div class="row">
        <h3>Check out some of the latest games added to GTournaments!</h3>
    <div class="row">
    {% for game in latest_games %}
        <div class="col-md-6">
            <div class="card p-3 shadow" style="border-radius: 10px; background-color: #005a75; color: white; margin-bottom: 20px;">
                <a href="{% url 'game-one' game.id %}"><h4 class="text-center">{{ game }}</h4></a>
                <div class="row align-items-center">
                    <div class="col-md-6 text-center">
                        <img src="{{ game.game_picture.url }}" alt="game_pic"
                            style="width: 100%; height: 180px; object-fit: cover; border-radius: 5px;" class="rounded">
                    </div>
                    <div class="col-md-6">
                        <p>{{ game.description|slice:":145" }}  <a href="{% url 'game-one' game.id %}"> read more...</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p class="text-center">No latest games available.</p>
    {% endfor %}
</div>

</div>
</div>

{% endblock %}