

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GTProfile</title>
</head>
<body>
{% load crispy_forms_tags %}
<div>
    <img class="rounded-circle" src="{{ user.profile.profile_picture.url }}" />
    <h2>{{ user.username }}</h2>
    <p>{{ user.email }}</p>
</div>
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ u_form | crispy }}
        {{ p_form | crispy }}
        <div>
            <input type="submit" class="btn btn-outline-success" value="Issaugoti pakeitimus" >
        </div>
    </form>
</div>
</body>
</html>