{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% url 'tournament-list' %}">Back to tournament list</a>
            <h2>{{ tournament.name }}</h2>
            <img src="{{ tournament.logo.url }}" alt="Tournament Logo" style="max-width: 200px;">
            <p>Game: {{ tournament.game.name }}</p>
            <p>Created_by: {{ tournament.created_by }}</p>
            <p>Start: {{ tournament.start_date }}</p>


            {% if user.is_authenticated %}
                {% if user.groups.first.name == "moderator" or user == tournament.created_by %}
                    {% if tournament.status != 'c' %}
                    <a href="{% url 'tournament-update' tournament.id %}"><button>Update Tournament Info</button></a>
                    <form method="post">
                        {% csrf_token %}
                        {{ status_form.as_p }}
                            <button type="submit" name="status_form" value="update" class="btn btn-primary">Update Status</button>
                    </form>
                    {% endif %}
                {% else %}
                <p>{{ tournament.get_status_display }}</p>
                {% endif %}
            {% endif %}

            {% if user.is_authenticated %}
            <form action="{% url 'tournament-upvote' tournament.id %}" method="post">
                {% csrf_token %}
                <button type="submit"
                        class="btn {% if user in tournament.upvotes.all %}btn-primary{% else %}btn-secondary{% endif %}">
                    {% if user in tournament.upvotes.all %}
                    &#8593; {{ tournament.total_upvotes }}
                    {% else %}
                    &#8593; {{ tournament.total_upvotes }}
                    {% endif %}
                </button>
            </form>
            {% endif %}

            {% if tournament.status == 'o' %}
                {% if user.is_authenticated %}
                    {% if user.groups.first.name == "moderator" or user == tournament.created_by %}
                        {% if can_rank %}
                            <form method="post">
                                {% csrf_token %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="color: white">Player</th>
                                            <th style="color: white">Ranking</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for participant, form in ranking_forms.items %}
                                            <tr>
                                                <td style="color: white">{{ participant.profile }}</td>
                                                <td>
                                                    <input type="hidden" name="participant_id" value="{{ participant.id }}">
                                                    <input type="number" name="ranking_{{ participant.id }}" value="{{ participant.ranking }}">

                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <button type="submit" name="ranking_form" value="update" class="btn btn-primary">Save Rankings</button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}

        </div>

        <div class="col">

            {% if tournament.status == 'o' or tournament.status == 'u' %}
                <h4>Participants:</h4>
                {% for participant in participants %}
                    <p>{{ participant.profile }}</p>
                {% endfor %}

                {% if tournament.status == 'u' %}
                    {% if user.is_authenticated %}
                        {% if user_participates %}
                        <form action="{% url 'leave-tournament' tournament.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning">Leave Tournament</button>
                        </form>
                        {% else %}
                            <form action="{% url 'join-tournament' tournament.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary">Join Tournament</button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% else %}
            <h3>Tournament results</h3>
            <p>Tournament finished: {{ tournament.end_date }}</p>
            <p>Tournament duration:
                {% if tournament.duration == 0 %}
                less than a day
                {% elif tournament.duration == 1 %}
                {{ tournament.duration }}
                day
                {% else %}
                {{ tournament.duration }}
                days
                {% endif %}

            </p>
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center" style="border-radius: 10px; overflow: hidden;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="background-color: #b5b5b5; color: black;">Rank</th>
                            <th style="background-color: #b5b5b5; color: black;">Player</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for participant in top_participants %}
                            <tr style="background-color: #ffb95e; color: black; font-weight: bold;">
                                <td>{{ participant.ranking }}</td>
                                <td>{{ participant.profile }}</td>
                            </tr>
                        {% endfor %}
                        {% for participant in rest_participants %}
                            <tr style="background-color: #d1e5ff; color: black;">
                                <td>{{ participant.ranking }}</td>
                                <td>{{ participant.profile }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% endif%}
        </div>
    </div>
</div>
{% if user.is_authenticated %}
    <div class="mt-4">
        <h4>Add a Comment</h4>
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" name="comment_form" value="submit" class="btn btn-primary">Post Comment</button>
        </form>
    </div>
{% else %}
    <p><a href="{% url 'login' %}">Login</a> to participate in this tournament!</p>
{% endif %}

<div class="mt-4">
    <h4>Comments</h4>
    <div class="p-3 rounded" style="background-color: #003d52; color: white;">
        {% for comment in comments %}
            <div class="mb-2 p-2 rounded shadow-sm" style="background-color: #005a75;">
                <p><strong>{{ comment.author.profile }}</strong> - {{ comment.date_created }}</p>
                <p>{{ comment.content }}</p>
            </div>
            {% if user.groups.first.name == "moderator" or user.profile == comment.author.profile %}
            <a class="btn btn-danger bt-sm" href="{% url 'comment-delete' comment.id %}">Delete</a>
                {% endif %}
        {% empty %}
            <p>No comments yet. Be the first to comment!</p>
        {% endfor %}
    </div>
</div>
{% endblock %}