body {
    background-color: #051530;

.sidebar-nav {
  list-style: none;
  margin-top: 10px;
  }
}
p {
    color: #e6e6e6;
}
h1 {
    color: #e6e6e6;
}
h2 {
    color: #e6e6e6;
}
h3 {
    color: #e6e6e6;
}
h4 {
    color: #e6e6e6;
}
a {
    color: #faeaa5;
}