{% extends 'base.html' %}

{% block content %}
<h1>Slaptazodzio keitimas</h1>

{% if validlink %}
  <p>Iveskite nauja slaptazodi ir ji pakartokite</p>
  <form action="" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>Naujas slaptazodis</td>
        <td>{{ form.new_password1 }}</td>
        <td>{{ form.new_password1.errors }}</td>
      </tr>
      <tr>
        <td>Pakartokite slaptazodi</td>
        <td>{{ form.new_password2 }}</td>
        <td>{{ form.new_password2.errors }}</td>
      </tr>
    </table>
    <input class="btn btn-outline-success" value="Keisti slaptazodi" type="submit">
  </form>
{% else %}
  <p>Slaptazodzio keitimo nuoroda negaliojanti, arba kitokia klaida.</p>
  <p>Prasome inicijuoti slaptazodzio keitima is naujo.</p>
{% endif %}

{% endblock %}